<div class="container-fluid">
<div class="row">
	<div class="col-lg-12">

		<h2><a ui-sref="^.list" class="btn btn-large btn-default btn-round">
			<i class="fa fa-angle-left"></i>
		</a></h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 bg-content">
		<div class="row">
			<div class="col-lg-12">

				<form  name="playerForm" ng-submit="submitForm(playerForm,model)">
					<h2>{{ title }}</h2>
					<div  class="form-group" sf-schema="schema" sf-form="form" sf-model="model"></div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<p class=" pull-right">
								<a href="javascript:void(0);" class="btn btn-lg btn-round btn-warning"
								   ng-click="resetForm(playerForm,model)"><i class="fa fa-trash"></i></a>
								<button type="submit"
										cg-busy="submitPromise"
										class="btn btn-default btn-round btn-success"
										ng-click="submit()"
										pop="{{formError.message}}"
										pop-title="yayaa"
										pop-show="{{ hasFormError }}" pop-placement="bottom"
										>
									<i class="fa fa-check"><span ></span></i>
								</button>
							</p>
						</div>
					</div>

				</form>
			</div>
			<div class="col-lg-12">
				<div ng-if="hasFormError">
					<h4>An error occured</h4>
					<p>{{formError.message}}</p>
					<h5>Server returned</h5>
					<pre>{{formError.raw | json }}</pre>
				</div>
			</div>
		</div>

		</div>
	</div>
</div>


