
<div class="modal-header">
	<button type="button" class="close" prevent-default ng-click="closeModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">Information
	</h4>
</div>
<div class="modal-body">
	<p>Are you sure you want to reset changes?</p>
</div>

<div class="modal-footer">
	<p>
		<a class="btn btn-primary" href="#"  prevent-default ng-click="cancelChange()">Cancel</a>
		<a class="btn btn-primary" href="#"  prevent-default ng-click="processChange()">Yes</a></p>
</div>
